    	   	.containter{
    			display:flex;
            		flex-wrap: wrap;
    		}
    	body{
        		background: linear-gradient(lightblue, darkblue);
                	background-repeat: no repeat;
                	background-attachment: fixed;
        	}
        p{
        		color: white;
                	font-family:"monaco", monospace;
			font-size: 25px;
        	}

	#box1{
        		border-radius: 100px;
            		height: 100px;
            		property: 100%;     
            		background-color: #798ea3; 
            		position: sticky;
            		top: 0px;
        	}
	#box0{
        		border-radius: 15px;
            		height: 50px;
            		property: 100%;     
            		background-color: #1d232a; 
            		position: relative;
            		top: 0px;
            		bottom:5px;
            		z-index:-3;
        	}
	#box2{
    			border-radius: 10px;
                	height: 50px;
                	property:105%;
                	bottom:0px;
                	justify-content: center;
                	background-color: #1d232a; 
                	position: absolute;
                	bottom: 2px;
                	margin-left: 5%;
             	}
    	.Nav input[type=text] {
        
  			float: right;
  			padding: 3px;
  			margin-top: 5px;
  			margin-right: 16px;
  			font-size:20px;
                	border: 1px solid black;
                	background-color: white;
		}
	#box3{
    			border-radius: 100px;
        		height:40px;
                	width: 280px;
                	background-color: #1d232a;
                	position: absolute;
                	top: 5px;
  			right: 16px;
        	}
     	 h4{
      			top: -10px;
                	left: 150px;
                	color: #1d232a;
                	font-size: 18.5px;
			position: absolute;
                	z-index:-2;
                    	font-family: "Lucida Handwriting", cursive;
      		}
	.Nav1 ul{
			list-style-type:none;
			padding: 0px;
			margin: 0px;
			overflow: hidden;
		}
	.Nav1 a{
        		float: left;
        		text-align: center;
            		color: #798ea3;
            		padding: 3px;
            		font-size: 25px;
            		margin-top: 20px;
            		margin: 10px;
            		property: 100%;
                    	font-family:"monaco", monospace; 
        	}
	.Nav1 a:hover{
			background-color: white;
                	color: #1d232a;
		}
	.Nav1 a.active{
        		background-color: white;
                	color: #1d232a;
        	}
    	img{
    			margin-left:30px;
			margin-top: 4px;
			border-radius:100%;
    		}
     	h2{
     			color:white;
            		text-align:center;
            		font-family: "Lucida Handwriting", cursive;
            		word-spacing: 8px;
     		}
    	a{
    			color:skyblue;
    		}
	#img2{
			float:left;
			border-radius: 10px;
			padding: 25px;
			border-radius: 30%;
	}
	#img3{
			float:right;
			border-radius: 10px;
			padding: 25px;
			border-radius:30%;
	}
	#img4{
			float:left;
			border-radius: 10px;
			padding: 25px;
			border-radius: 30%;
	}
	#img5{
			float:right;
			border-radius: 10px;
			padding: 25px;
			border-radius:30%;
	}
	.clearfix{
			clear:left;
			overflow: auto;
			border-style: solid;
                    	border-color: white;
                    	border-radius: 1%;
                    	padding: 10px;
		}	